<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Imprimerie</ion-label>
      <ion-badge>1</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Services</ion-label>
      <ion-badge>2</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Formations</ion-label>
      <ion-badge>4</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
