<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/tab1">
      <ion-button color="dark">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title size="large">Contact</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="full"  slot="start">
      <ion-button  slot="start" size="small" fill="clear">
         <ion-icon name="person-add"></ion-icon>
       </ion-button>
       <ion-label>nouveau</ion-label>
     </ion-item>
     <ion-searchbar></ion-searchbar>
</ion-toolbar>

</ion-header>
<ion-content>


    <ion-item lines="full">
   <ion-button  slot="start" size="small" fill="clear">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
    <ion-label>Créer un groupe</ion-label>
  </ion-item>


  <ion-item routerLink="/conversation">
    <ion-avatar slot="start" >
      <img src="../../assets/a2.png">
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Ngangala Ligbo</h3>
        <p>93 25 07 39 Mobile</p>
      </div>

    </ion-label>
  </ion-item>


  <ion-item routerLink="/conversation" >
    <ion-avatar slot="start" >
      <img src="../../assets/a1.png">
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Haouaou Traoré</h3> <br>
        <p>93 25 07 39 Mobile</p>
</div>
    </ion-label>
  </ion-item >
  <ion-item routerLink="/conversation">
    <ion-avatar slot="start" >
      <img src="../../assets/a3.png">
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Sara Diarra</h3>
        <p>93 25 07 39 Mobile</p>
      </div>

    </ion-label>
  </ion-item >

  <ion-item routerLink="/conversation">
    <ion-avatar slot="start" >
      <img src="../../assets/4.png">
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Gerard P. Venetougou</h3>
        <p>93 25 07 39 Mobile</p>
      </div>
    </ion-label>
  </ion-item>

  <ion-item routerLink="/conversation">
    <ion-avatar slot="start" >
      <img src="../../assets/5.png">
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Senabou Diallo</h3>
        <p>93 25 07 39 Mobile</p>
      </div>

    </ion-label>
  </ion-item>

  <ion-item routerLink="/conversation">
    <ion-avatar slot="start" >
      <img src="../../assets/f.png">
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>Fatoumata Diawara</h3>
        <p>93 25 07 39 Mobile</p>
      </div>

    </ion-label>
  </ion-item>
  
</ion-content>
