<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button>
  Right Icon
  <ion-icon slot="end" name="star"></ion-icon>
</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <img src="../../assets/Minimal_78t.png">
      </ion-title>
    </ion-toolbar>
  </ion-header>
 <ion-content [fullscreen]="true">
  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src="../../assets/fr.JPG">

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/ser.jpg">

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/5.jpg">

      </ion-card>
    </ion-slide>

  </ion-slides>


</ion-content>



