

    <ion-content>
    <ion-grid>

    <ion-row>
    <ion-col>
    <ion-item>
    <ion-label position="floating">Titre</ion-label>
    <ion-input type="text" [(ngModel)]="newItem.title"></ion-input>
    </ion-item>
    </ion-col>
    </ion-row>

    <ion-row>
    <ion-col>
    <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input type="text" [(ngModel)]="newItem.description"> </ion-input>
    </ion-item>
    </ion-col>
    </ion-row>



    </ion-grid>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
    <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    </ion-fab>

<ion-content>

  <ion-item lines="none">
    <ion-label>
      <h1><b>Fatoumata Diawara</b></h1>
    </ion-label>
    <ion-avatar>
      <img src="../../assets/f.png">
    </ion-avatar>
    </ion-item>
  <ion-button class="text_button" shape="round" size="small">Envoyer un message</ion-button>
  <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
    <ion-icon color="dark" slot="icon-only"  name="person-circle-outline"></ion-icon>
<ion-icon color="dark" slot="icon-only" name="checkmark"></ion-icon>

    </ion-button>

  <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
    <ion-icon color="dark" slot="icon-only" name="caret-down-outline"></ion-icon>

  </ion-button>
  <ion-item lines="none">
    <ion-label>
      <h3><b>Fatoumata Diawara</b> <ion-icon color="primary" name="checkmark-circle"></ion-icon></h3>
      <p>Developpeur d'application mobile</p>
    </ion-label>
  </ion-item>

  <ion-segment color="medium">
    <ion-segment-button>
     All
    </ion-segment-button>
    <ion-segment-button>
 Photos
    </ion-segment-button>
    <ion-segment-button>
      Video
    </ion-segment-button>
    <ion-segment-button>
      Doccuments
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col><img  src="../../assets/for.png"></ion-col>
      <ion-col><img  src="../../assets/forma.jpg"></ion-col>
      <ion-col><img  src="../../assets/LOGO MALIDEV TRANSPARENT (1).png"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><img  src="../../assets/4.jpg"></ion-col>
      <ion-col><img  src="../../assets/2.jpg"></ion-col>
      <ion-col><img  src="../../assets/5.jpg"></ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><img  src="../../assets/a2.png"></ion-col>
      <ion-col><img  src="../../assets/a1.png"></ion-col>
      <ion-col><img  src="../../assets/a3.png"></ion-col>
</ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><img  src="../../assets/4.png"></ion-col>
      <ion-col><img  src="../../assets/5.png"></ion-col>

      <ion-col><img  src="../../assets/f.png"></ion-col>
</ion-row>
  </ion-grid>



